<mat-toolbar color="primary">
  <mat-toolbar-row class="row justify-content-between header-row">
    <nav class="col-auto">
      <a mat-button routerLink="/employees" routerLinkActive="active">Empleados</a>
      <!-- <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a> -->
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
