nav > a {
  padding: 5px;
  text-decoration: none;
}

nav > a.active {
  background-color: rgb(255 255 255 / 10%);
  color: white;
}

.header-row {
  width: 100%;
}

.mat-toolbar.mat-primary {
  background: rgb(66 107 168);
}
