.big-icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.page {
  max-width: 90%;
  margin: 1rem auto;
}

table th,
table td {
  text-align: left;
}

table.layout {
  width: 100%;
  border-collapse: collapse;
}

table.display {
  margin: 1em 0;
}

table.display th,
table.display td {
  padding: 1.5em 1em;
}

@media (max-width: 968px) {
  table.responsive-table {
    box-shadow: none;
  }

  table.responsive-table thead {
    display: none;
  }

  table.display th,
  table.display td {
    padding: 0.5em;
  }

  table.responsive-table td:nth-child(1):before {
    content: "Nombre";
  }

  table.responsive-table td:nth-child(2):before {
    content: "Tipo de identificación";
  }

  table.responsive-table td:nth-child(3):before {
    content: "No. de identificación";
  }

  table.responsive-table td:nth-child(4):before {
    content: "País";
  }

  table.responsive-table td:nth-child(5):before {
    content: "Correo electrónico";
  }

  table.responsive-table td:nth-child(6):before {
    content: "Estado";
  }

  /* @for $i from 1 through 6 {
    table.responsive-table td:nth-child($i) {
      padding-left: 50%;
    }
  } */

  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3),
  table.responsive-table td:nth-child(4),
  table.responsive-table td:nth-child(5),
  table.responsive-table td:nth-child(6) {
    padding-left: 50%;
  }

  /* @for $i from 1 through 6 {
    table.responsive-table td:nth-child($i):before {
      position: absolute;
      left: 0.5em;
      font-weight: bold;
    }
  } */

  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before,
  table.responsive-table td:nth-child(3):before,
  table.responsive-table td:nth-child(4):before,
  table.responsive-table td:nth-child(5):before,
  table.responsive-table td:nth-child(6):before {
    position: absolute;
    left: 0.5em;
    font-weight: bold;
  }

  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }

  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  table.responsive-table td {
    border-top: none;
  }

  table.responsive-table td.employee-name {
    background: rgb(66 107 168 / 44%);
  }

  table.responsive-table td.actions {
    position: absolute;
    top: -9px;
    right: 0;
    border: none;
    background: none;
  }
}
