<div class="page">
  <div style="display: flex; justify-content: space-between">
    <h1 style="margin: 0">
      <mat-icon>person</mat-icon>
      Empleados
    </h1>

    <a mat-raised-button color="primary" routerLink="./create">
      <mat-icon>add</mat-icon>
      Registrar
    </a>
  </div>
  <table class="layout display responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo de identificación</th>
        <th>No. de identificación</th>
        <th>País</th>
        <th>Correo electrónico</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td class="employee-name">
          <!-- <mat-icon class="big-icon">account_circle</mat-icon> -->
          {{ employee.firstName }}
          {{ employee.secondName }}
          {{ employee.lastName }}
          {{ employee.secondLastName }}
        </td>

        <td class="organisationname">
          {{ employee.idType }}
        </td>

        <td class="organisationname">
          {{ employee.idNumber }}
        </td>

        <td class="organisationname">
          {{ employee.country }}
        </td>

        <td class="organisationname">
          {{ employee.email }}
        </td>

        <td class="organisationname">
          {{ employee.status }}
        </td>

        <td class="actions">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a [routerLink]="['./create/' + employee._id]" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </a>
            <button
              mat-menu-item
              (click)="openDeleteEmployeeDialog(employee._id)"
            >
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
