<h2 mat-dialog-title>Eliminar empleado</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Develop across all platforms</h3> -->
  <p>¿Deseas eliminar este empleado?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Eliminar</button>
</mat-dialog-actions>
