<form [formGroup]="createEmployeeForm" (ngSubmit)="registerOrUpdateEmployee()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        {{ !employeeId ? "Registro" : "Actualización" }} de empleado
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mx-3">
      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Primer nombre"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="
                employeeForm.firstName.invalid &&
                (employeeForm.firstName.dirty || employeeForm.firstName.touched)
              "
            >
              <mat-error *ngIf="employeeForm.firstName.errors.required">
                El primer nombre es <strong>requerido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.firstName.errors.maxlength">
                El primer nombre no debe superar los
                <strong>{{ validatorValues.shortMaxLength }} caracteres</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.firstName.errors.pattern">
                No se permiten
                <strong> números ni caracteres especiales</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Segundo nombre"
              formControlName="secondName"
            />
            <mat-error
              *ngIf="
                employeeForm.secondName.invalid &&
                (employeeForm.secondName.dirty ||
                  employeeForm.secondName.touched)
              "
            >
              <mat-error *ngIf="employeeForm.secondName.errors.maxlength">
                El segundo nombre no deben superar los
                <strong>{{ validatorValues.longMaxLength }} caracteres</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.secondName.errors.pattern">
                No se permiten
                <strong> números ni caracteres especiales</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Primer apellido"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="
                employeeForm.lastName.invalid &&
                (employeeForm.lastName.dirty || employeeForm.lastName.touched)
              "
            >
              <mat-error *ngIf="employeeForm.lastName.errors.required">
                El primer apellido es <strong>requerido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.lastName.errors.maxlength">
                El primer apellido no debe superar los
                <strong>{{ validatorValues.shortMaxLength }} caracteres</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.lastName.errors.pattern">
                No se permiten
                <strong> números ni caracteres especiales</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Segundo apellido"
              formControlName="secondLastName"
            />
            <mat-error
              *ngIf="
                employeeForm.secondLastName.invalid &&
                (employeeForm.secondLastName.dirty ||
                  employeeForm.secondLastName.touched)
              "
            >
              <mat-error *ngIf="employeeForm.secondLastName.errors.required">
                El segundo apellido es <strong>requerido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.secondLastName.errors.maxlength">
                El segundo apellido no debe superar los
                <strong>{{ validatorValues.shortMaxLength }} caracteres</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.secondLastName.errors.pattern">
                No se permiten
                <strong> números ni caracteres especiales</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-select placeholder="País de empleo" formControlName="country">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.name"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                employeeForm.country.invalid &&
                (employeeForm.country.dirty || employeeForm.country.touched)
              "
            >
              <mat-error *ngIf="employeeForm.country.errors.required">
                El país de empleo es <strong>requerido</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Tipo de identificación"
              formControlName="idType"
            >
              <mat-option *ngFor="let idType of idTypes" [value]="idType.name">
                {{ idType.name }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                employeeForm.idType.invalid &&
                (employeeForm.idType.dirty || employeeForm.idType.touched)
              "
            >
              <mat-error *ngIf="employeeForm.idType.errors.required">
                El tipo de identificación es <strong>requerido</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Número de identificación"
              formControlName="idNumber"
            />
            <!-- <mat-hint align="end">{{ idNumber.value.length }} / 5</mat-hint> -->
            <mat-error
              *ngIf="
                employeeForm.idNumber.invalid &&
                (employeeForm.idNumber.dirty || employeeForm.idNumber.touched)
              "
            >
              <mat-error *ngIf="employeeForm.idNumber.errors.required">
                El número de identificación es <strong>requerido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.idNumber.errors.pattern">
                No se permiten <strong> caracteres especiales</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="email"
              matInput
              placeholder="Correo electrónico"
              formControlName="email"
              readonly
            />
            <mat-error
              *ngIf="
                employeeForm.email.invalid &&
                (employeeForm.email.dirty || employeeForm.email.touched)
              "
            >
              <mat-error *ngIf="employeeForm.email.errors.required">
                El correo electrónico es <strong>requerido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.email.errors.email">
                El formato <strong>no es válido</strong>
              </mat-error>

              <mat-error *ngIf="employeeForm.email.errors.maxlength">
                El correo electrónico no debe superar los
                <strong> 300 caracteres</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Fecha de ingreso</mat-label>
            <input
              matInput
              [min]="minEntranceDate"
              [max]="maxEntranceDate"
              [matDatepicker]="picker"
              formControlName="entranceDate"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error
              *ngIf="
                employeeForm.entranceDate.invalid &&
                (employeeForm.entranceDate.dirty ||
                  employeeForm.entranceDate.touched)
              "
            >
              <mat-error *ngIf="employeeForm.entranceDate.errors.required">
                La fecha de ingreso <strong>requerida</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100">
            <mat-select placeholder="Área" formControlName="area">
              <mat-option *ngFor="let area of areas" [value]="area.name">
                {{ area.name }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                employeeForm.area.invalid &&
                (employeeForm.area.dirty || employeeForm.area.touched)
              "
            >
              <mat-error *ngIf="employeeForm.area.errors.required">
                El área es <strong>requerida</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-select placeholder="Estado" formControlName="status">
              <mat-option *ngFor="let _status of status" [value]="_status.name">
                {{ _status.name }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                employeeForm.status.invalid &&
                (employeeForm.status.dirty || employeeForm.status.touched)
              "
            >
              <mat-error *ngIf="employeeForm.status.errors.required">
                El estado es <strong>requerido</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Fecha de registro"
              formControlName="registerDate"
            />
            <mat-error
              *ngIf="
                employeeForm.registerDate.invalid &&
                (employeeForm.registerDate.dirty ||
                  employeeForm.registerDate.touched)
              "
            >
              <mat-error *ngIf="employeeForm.registerDate.errors.required">
                La fecha de registro es <strong>requerida</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" class="mx-3">
        {{ !employeeId ? "Registrar" : "Actualizar" }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
