<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="display-3 mb-0">404</h1>
          <h4>Página no encontrada</h4>
          <p class="text-muted mb-2">
            La página que estás buscando no se encuentra disponible.
          </p>
        </div>
        <a [routerLink]="['/']">Volver al inicio</a>
      </div>
    </div>
  </div>
</div>
